{% extends "base.html" %}

{% block content %}
<div class="hero-image">
    
<section class="hero">
    <h2>Find the Best Crops for Your Land</h2>
    <p>Our AI-powered system analyzes soil and weather conditions to recommend optimal crops</p>
    <a href="/recommend" class="cta-button">Get Recommendation</a>
</section>

<section class="features">
    <div  class="feature">
        <h3><a href="/about"  style="color: black;">Soil Analysis</a></h3>
        <p>Get precise recommendations based on N, P, K levels</p>
    </div>
    <div  class="feature">
        <h3><a href="/about" style="color: black">Consideration</a></h3>
        <p>Takes temperature, humidity and rainfall into account</p>
    </div>
    <div class="feature">
        <h3><a href="/about"  style="color: black;">Advanced AI Model</a></h3>
        <p>The AI Model Was Helped To Get The Best Crop To You</p>
    </div>
</section>
</div>
{% endblock %}